header {

  .container {
    height: 400px;
    outline: 1px solid black;
    padding: 0;
    position: relative;

    .navbar {
      bottom: 0;
      padding: 0;
      position: absolute;
      width: 100%;

      .navbar-nav {
        display: table;
        width: 100%;
      }

      .navbar-nav > .nav-item {
        background: $basic-color2;
        border-right: 2px solid #fff;
        color: #4d2526;
        margin-right: 2px;
        display: table-cell;

        &:first-child {
          border-radius: 15px 0 0 0;
        }

        &:last-child {
          border-radius: 0 15px 0 0;
          margin-right: 0;
          border-right: none;
        }

        a {
          font-size: 25px;
          font-weight: bold;
          padding: 5px;
          text-align: center;
        }
      }
    }
  }
}